[Unit]
Description=OpenDeploy edge route manager (routemgr)
Documentation=https://github.com/anreddykarthikreddy3003/opendeploy
PartOf=opendeploy.target
After=network-online.target opendeploy-caddy.service
Wants=network-online.target

[Service]
Type=simple
User=od-routemgr
Group=od-routemgr
SupplementaryGroups=od-ipc od-caddy
ExecStart=/opt/opendeploy/current/bin/routemgr --config /etc/opendeploy/node.yaml
Restart=always
RestartSec=2
ReadWritePaths=/var/lib/opendeploy/routemgr /run/opendeploy
CapabilityBoundingSet=
AmbientCapabilities=
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
ProtectClock=yes
ProtectHostname=yes
RestrictSUIDSGID=yes
RestrictRealtime=yes
RestrictNamespaces=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
UMask=0077

[Install]
WantedBy=opendeploy.target
